
nav {
    width: 100%;
    height: 70px;
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 5px 1px #00000086;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;

    .menu {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
      padding: 0px 20px 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo-brand {
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;

        img {
          background-color: rgb(82, 82, 82);
          border-radius: 100%;
          height: 70%;
          margin: 0 10px 0 0;
        }

      }
  
      .nav-bar {
         width: max-content;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 0px;
        
  
        .nav-link {
          width: max-content;
          height: 100%;
          padding: 0 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          
          &.border-right::before {
            content: '';
            width: 0;
            height: 90%;
            border-right: 1px solid grey;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
  
          .arrow{
            transition: .4s cubic-bezier(0.18, 0.85, 0.38, 0.95);
          }
          &:hover .arrow {
            transform: rotate(180deg);
          }
  
          a {
            font-size: 18px;
            text-decoration: none;
            color: black;
            text-transform: capitalize;
          }
  
          .dropdown {
            display: none;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: max-content;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0px;
            background-color: whitesmoke;
            overflow: hidden;
            font-family: "Nunito", sans-serif;
            background-image: url('/assets/img/bg-dropdown-library.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.425);
  
            &::after {
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: -1;
              background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, .6));
            }
            
  
  
            .title {
              height: 100%;
              width: 26%;
              text-align: center;
              font-size: 28px;
              padding: 25px 70px;
              text-align: end;
              font-weight: 500;
  
            }
  
            .link-container {
              width: 74%;
              height: max-content;
              display: flex;
              padding: 13px 80px;
              flex-direction: row;
              position: relative;
  
              
              &::before {
                content: '';
                width: 100%;
                height: 85%;
                margin: auto;
                border-left: 2px solid rgb(134, 134, 134);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
              }
  
              .link-section {
                margin-right: 40px;
  
                a {
                  color: rgb(77, 77, 77);
                  z-index: 9;
                  p {
                    width: max-content;
                    border-radius: 2px;
                    padding: 5px;
                    margin: 7px;
                    position: relative;
  
                    &:hover{
                      background-color: rgba(230, 230, 230, 0.596);
                    }
  
                    &.sub-link{
                      font-weight: 600;
                      color: black;
                    }
  
                    .material-symbols-outlined {
                      position: absolute;
                      left: -20px;
                    }
  
  
  
                  }
                }
              }
            }
          }
        }
      }
      .library {
        height: 100%;
        width: max-content;
        transition: .3s cubic-bezier(0.18, 0.85, 0.38, 0.95);
  
        &:hover .dropdown {
          display: flex;
          top: 70px;
          opacity: 1;
        }
      }
    }
  }


// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  nav {
    min-height: 72px;
    max-height: max-content;
    background-color:bisque;
    box-shadow: none;
    
    .menu {
      display: flex;
      width: 100%;
      height: max-content;
      justify-content: flex-end;
      background-color: bisque;
      align-items: center;
      padding: 10px;
      z-index: 10;
      position: relative;

      .menu-icon {
        font-size: 50px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 5px;
      }
    }

    .container {
      width: 100%;
      height: max-content;
      display:flex;
      flex-direction: column;
      box-shadow: 2px 2px 5px 1px #00000086;
      padding: 10px;
      margin-top: -187px;
      opacity: 1;
      background-color:bisque;
      transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
      z-index: -10;

      .logo-brand {
        justify-content: flex-start;
        width: 100%;

        img {
          width: 60px;
        }
      }

      .nav-bar {
        flex-direction: column;

        .nav-link{
          margin: 15px 0 0 0;

          a {
            font-size: 20px;
            font-weight: 600;
          }
          
          &.border-right::before, .material-symbols-outlined, .dropdown  {
           border-right: none;
           display: none;
        }

        }

        }
      }
    }
  }


// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  nav {
    min-height: 72px;
    max-height: max-content;
    background-color:bisque;
    box-shadow: none;
    
    .menu {
      display: flex;
      width: 100%;
      height: max-content;
      justify-content: flex-end;
      background-color: bisque;
      align-items: center;
      padding: 10px;
      z-index: 10;
      position: relative;

      .menu-icon {
        font-size: 40px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 5px;
      }
    }

    .container {
      width: 100%;
      height: max-content;
      display:flex;
      flex-direction: column;
      box-shadow: 2px 2px 5px 1px #00000086;
      padding: 10px;
      margin-top: -187px;
      opacity: 1;
      background-color:bisque;
      transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
      z-index: -10;

      .logo-brand {
        justify-content: flex-start;
        width: 100%;

        img {
          width: 60px;
        }
      }

      .nav-bar {
        flex-direction: column;

        .nav-link{
          margin: 15px 0 0 0;

          a {
            font-size: 20px;
            font-weight: 600;
          }
          
          &.border-right::before, .material-symbols-outlined, .dropdown  {
           border-right: none;
           display: none;
        }

        }

        }
      }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }
  
  