section#output {
    width: 100%;
    height: max-content;
    background-color: rgb(32, 32, 32);
    .container {
        width: 85%;
        height: max-content;
        padding: 60px 40px;
        background-color: rgb(61, 61, 61);
        box-shadow: 0 10px 10px 0 rgb(0, 0, 0);
        .card-output {
            max-width: 300px;
            min-width: 100px;
            min-height: fit-content;
            max-height: 500px;
            overflow: auto;
            padding: 10px;
            border-radius: 7px;
            transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.801);
            }
            p {
                margin: 7px;
                color: bisque;
            }
        }
    }
}


// `xs` returns only a ruleset and no media query
// ... { ... }

@media (max-width: 433.98px) {
    section#output {
        .container {
            width: 100%;
            padding: 40px 15px;
        }
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
section#output {
    .container {
        width: 100%;
        padding: 40px 15px;
    }
} }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section#output {
        .container {
            width: 100%;
            padding: 40px 15px;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    section#output {
        .container {
            width: 100%;
            padding: 40px 15px;
        }
    }
}

